<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
	<p>Luke Ciarelli</p>
	<p><img src="/static/luke_band_scaled.jpg" alt="Me wearing my favourite hat"></p>
    <p>Sophomore Civil Engineering major</p>
	<p><a href="/classes">This semester's classes, charted on a work-fun graph</a></p>
	<p><a href="/music">A list of my top 10 Spotify artists</a></p>
	<p><a href="http://toastytech.com/evil/">If you use internet explorer to view this page, I have some issues.</a></p>
	
	
</html>

