<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Music</title>
    <head>
    <body>
		<p>
			Current favourite Spotify artists:
			<ol>
			<li>Led Zeppelin</li>
			<li>Fall Out Boy</li>
			<li>Tom Morello</li>
			<li>Dream Theater</li>
			<li>Red Hot Chili Peppers (but only with John)</li>
			<li>Paramore</li>
			<li>Jimi Hendrix</li>
			<li>Tonight Alive</li>
			<li>John Mayer</li>
			<li>Plini</li>
			</ol>
		</p>
    </body>
</html>

